* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(14, 13, 13);
}
p {
  padding: 0;
  margin: 0;
}
.navigation {
  display: flex;
  justify-content: flex-end;
}
.label {
  height: 1rem;
  width: 1rem;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ddd;
  opacity: 0.5;
  transition: all 0.4s ease;
}
.label:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.element {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #87ceeb;
  display: block;
  border: 0.125rem solid #87ceeb;
  transition: all 0.5s;
}
input[name="slider"] {
  visibility: hidden;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 2px dotted white;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "main main"
    "footer footer";
  grid-template-rows: 400px 200px;
}
.slides {
  grid-area: main;
  position: relative;
  overflow: hidden;
  max-width: 700px;
  height: auto;
  border: 2px dotted white;
}
.slide_items {
  width: 400%;
  height: 100%;
  display: flex;
}
.slide {
  width: 25%;
  transition: all 0.6s ease;
}
.slide img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
.slide,
.text p {
  font-size: 22px;
  color: white;
  bottom: 0;
  left: 0;
  transition: all 0.8s ease;
}
#slider1:checked ~ .slides .slide_items .s1 {
  margin-left: 0;
}
#slider2:checked ~ .slides .slide_items .s1 {
  margin-left: -25%;
}
#slider3:checked ~ .slides .slide_items .s1 {
  margin-left: -50%;
}
#slider4:checked ~ .slides .slide_items .s1 {
  margin-left: -75%;
}
#slider1:checked ~ footer .text .text_discr .s2 {
  margin-left: 0;
}
#slider2:checked ~ footer .text .text_discr .s2 {
  margin-left: -25%;
}
#slider3:checked ~ footer .text .text_discr .s2 {
  margin-left: -50%;
}
#slider4:checked ~ footer .text .text_discr .s2 {
  margin-left: -75%;
}
#slider1:checked ~ footer .dots_navigation #dot_1 .element,
#slider2:checked ~ footer .dots_navigation #dot_2 .element,
#slider3:checked ~ footer .dots_navigation #dot_3 .element,
#slider4:checked ~ footer .dots_navigation #dot_4 .element {
  background-color: rgb(46, 44, 44);
}
footer {
  max-width: 700px;
  height: 100px;
  grid-area: footer;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text {
  position: relative;
  overflow: hidden;
  max-width: 200px;
  height: auto;
}
.text_discr {
  width: 400%;
  height: 100%;
  display: flex;
}
.slideText {
  width: 25%;
  transition: all 0.6s ease;
}
